extends layout

block content
    h1 enter keyword, tld in google you'd like to search, and your brand name
    form(name="keySearch", action="/", method="post")
        input(type="text", name="keyword", placeholder="keyword")
        input(type="text", name="tld", placeholder="tld")
        input(type="text", name="brand",placeholder="brand")
        input(type="submit")